.mainTitle {

    background-color: #d72e2e;
    padding: 20px;
}

.mainTitle h1 {
    font-family: cursive;
    text-align: center;
    margin: 0;
    font-size: 60px;
    font-weight: normal;
}

.gradiant {
    height: 6px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgb(24, 126, 98) 100%);
}


.projects-list h2 {
text-align: center;
}

.projects-list ul {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: cursive;
    line-height: 3rem;
}