.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 460px;
    background-color: black;
}

.display{
    display: flex;
    justify-content: right;
    border-radius: 5px;
    align-items: center;
    height: 50px;
    background-color: white;
    font-family: monospace;
    margin: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 40px;
    color: black;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-weight: bold;
    flex-grow: 1;
    height: 100%;
    font-size: x-large;
}

.button {
    flex-direction: column;
    font-weight: bold;
    flex-grow: 1;
    height: 100%;
    margin: 2px;
    font-size: x-large;
    border: none;
    border-radius: 5px;
}
.Cs-row, .sevens-row, .fours-row ,.ones-row, .zero-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1.0;
    margin: 3px;
}
.C  {
    flex-grow: 3.1;
}

.zero {
    flex-grow: 4.3;
}

.Cs-row .divide { background-color: #ffeaa7; border-radius: 5px}
.Cs-row button:last-child:hover { background-color: #dfb073}
.Cs-row button:last-child:active { background-color: #df9973}

.sevens-row .multiply { background-color: #ffeaa7;border-radius: 5px}
.sevens-row button:last-child:hover  { background-color: #dfb073}
.sevens-row button:last-child:active { background-color: #df9973}

.fours-row .minus { background-color: #ffeaa7;border-radius: 5px}
.fours-row button:last-child:hover { background-color: #dfb073}
.fours-row button:last-child:active { background-color: #df9973}

.ones-row .plus { background-color: #ffeaa7;border-radius: 5px}
.ones-row button:last-child:hover { background-color: #dfb073}
.ones-row button:last-child:active { background-color: #df9973}

.zero-row .equal { background-color: #ffeaa7;border-radius: 5px}
.zero-row button:last-child:hover { background-color: #dfb073}
.zero-row button:last-child:active { background-color: #df9973}