.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background-color: black;
}

.display{
    display: flex;
    justify-content: right;
    height: 60px;
    background-color: black;
    font-family: monospace;
    margin: 10px;
    font-weight: bold;
    font-size: x-large;
    color: white;
}


.Cs-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin: 2px;
}

.sevens-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin: 2px;
}
.fours-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin: 2px;
}
.ones-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin: 2px;
}
.zero-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    margin: 2px;
}

.button {
    align-items: center;
    font-size: x-large;
}
.C  {
    flex-grow: 3;
}

.zero {
    flex-grow: 4;
}

.Cs-row:last-child { background-color: #ffeaa7; border-radius: 5px}
.sevens-row:last-child { background-color: #ffeaa7;border-radius: 5px}
.fours-row:last-child { background-color: #ffeaa7;border-radius: 5px}
.ones-row:last-child { background-color: #ffeaa7;border-radius: 5px}
.zero-row:nth-child(2) { background-color: #ffeaa7;border-radius: 5px}