/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}


/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {

    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: white;
    font-size: var(--font-size);
}

h1, h2 , h3 {
    margin: 0;
}

a {
    color: var(--aqua);
}
a:hover {
    color: var(--hotmag);
    text-decoration: none;
}


/* intro styles */

#intro {
    padding: 4rem 2rem 10rem  2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
}

#intro h2 {
    font-size: 3rem;
}

/* CONTACT */

.section-plum {
    background-color: var(--plum);
}

#contact {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--plum);
}

#contact p a {
    text-decoration: none;
    font-size: 2em;
    color: var(--white);
}

/* navigation styles */

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    font-family: var(--sans);
}
nav h1 a span:hover{
    pointer-events: none;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav [class*="fa-"]{
    font-size: 150%;
    color: var(--aqua);
}
nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--magenta);
}

.button {
    background-color: var(--magenta);
    padding: 0.5rem;
    border-radius: 5px;
    font-family: var(--mono);
    text-decoration: none;
}

.button:hover {
    color: var(--white);
    background-color: var(--hotmag);
}

/* Footer */

footer {
    text-align: center;
    background-color: black;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin:  1rem 0;
    font-size: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
}

footer p {
    margin: 0;
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}