.mainTitle {
    font-family: cursive;
    text-align: center;
    background-color: #d72e2e;
    margin: 0;
    font-size: 60px;
    font-weight: normal;
    padding: 20px;
}

.main-page {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left-section {
    border-radius: 0px 60px 0px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    padding: 20px;
    background-color: #ef5616;
}

.right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    background-color: #ffffff;
}

.right-section h1 {
    font-weight: bold;
    font-size: x-large;
    font-family: cursive;
}

.image_box {
    border-radius: 30px 60px 30px 60px;
    padding: 20px;
    width: 350px;
    height: 350px;
}